header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 12px 64px;

  background-color: rgba(25, 25, 25, 1);
  
}

.middle-section {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  
}