.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(24, 69, 59, 1);
}

.hero-text-container {
  padding: 0 178px 0 64px;
}

h1,h3 {
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

.hero-text p {
  font-style: italic;
  font-weight: 300;
  
  margin-top: 8px;
}

.hero-action-text {
  position: absolute;
  bottom: 24px;
  
  color: rgba(255, 255, 255, 0.548);
  font-weight: 200;
}

.hero-text button {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 8px;

  padding: 12px 24px;
  margin: 18px 0 0 0;

  color: white;
  background: rgb(18, 53, 45);


  font-size: 18px;
  font-weight: 400;

  cursor: pointer;
}

.hero-image img {
  width: 100%;
  max-height: 870px;

  object-fit: cover;
}

/* About Section */

#about {
  scroll-margin-top: 80px;
}

.about-section {
  margin: 64px;
}

.about-info-container {
  display: flex;
  margin-bottom: 100px;
  gap: 64px;
  
}

.about-info-container img,
.about-info-container img {
  width: 100%;
  max-width: 900px;
  max-height: 600px;
  object-fit: cover;
  border-radius: 8px;
}


h4, h5 {
  font-size: 32px;
  font-style: italic;
  font-weight: 600;

  margin: 0 0 32px;
  line-height: 38.73px;
  letter-spacing: -2%;
}

.about-info-text-container p {
  font-size: 24px;
  font-style: italic;
  font-weight: 200;

  line-height: 29.05px;
  letter-spacing: -2%;
}

/* FOOTER */

.footer {
  background-color: rgba(25, 25, 25, 1);
  height: 200px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 64px 32px;
  
}

.footer-content hr {
  width: 100%;
  border: 0.5px solid #555;
  margin-bottom: 15px;
}

.footer-content p {
  color: #bbb;
  font-size: 14px;
  margin: 0;
  text-align: center;
}
