<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='css/contact-us.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <title>Contact Us</title>
</head>
<body>

  <header>
    <div class="left-section">
      <img src="{{ url_for('static', filename='images/Shopistanlogo.png') }}" alt="logo" >
    </div>

    <nav class="middle-section">
      <a href="{{ url_for('homepage') }}" > Home </a>
      <a href="{{ url_for('homepage') }}" > About </a></li>
      <a href="{{ url_for('services') }}" > Services </a>
      <a href="{{ url_for('gallery') }}" > Gallery </a>
      <a href="{{ url_for('contact_us') }}" > Contact </a>
    </nav>

    <nav class="right-section">
      <a href="{{ url_for('register') }}">
        <button class="register-button"> Register </button>
      </a>
      <a href="{{ url_for('login')}}">
        <button class="login-button" > Login </button>
      </a>
    </nav>
  </header>
  
  <section class="contact-us-section">
    <h1>Contact Us</h1>

    <div class="contact-us-container">

      <input type="text" placeholder="Name" >

      <input  type="text" placeholder="Email">

      <textarea class="message-text-bar" type="text"   placeholder="Your Message" rows="4" cols="50">
      </textarea>
      <div>
        <button>Submit</button>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-content">
      <hr />
      <p>&copy; 2024, All Rights Reserved by YourWebsiteName</p>
    </div>
  </footer>

</body>
</html>