<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <title>Shopistan</title>
</head>
<body>
  
  <header>
    <div class="left-section">
      <img src="{{ url_for('static', filename='images/Shopistanlogo.png') }}" alt="logo" >
    </div>

    <nav class="middle-section">
      <a href="{{ url_for('homepage') }}" > Home </a>
      <a href="#about"> About </a></li>
      <a href="{{ url_for('services') }}" > Services </a>
      <a href="{{ url_for('gallery') }}" > Gallery </a>
      <a href="{{ url_for('contact_us') }}" > Contact </a>
    </nav>

    <nav class="right-section">
      <a href="{{ url_for('register') }}">
        <button class="register-button"> Register </button>
      </a>
      <a href="{{ url_for('login')}}">
        <button class="login-button" > Login </button>
      </a>
    </nav>
  </header>

  <main>
    <section class="hero-section">
      <div class="hero-text-container">
        <div class="hero-text">
          <h1>Clothing Experts</h1>
          <h2>Built to last</h2>
          <p>
            Discover a world where timeless Pakistani fashion blends seamlessly with contemporary designs. At Shopistan, we bring you premium-quality apparel that celebrates culture, comfort, and individuality.
          </p>
          <a href="{{ url_for('services') }}">
            <button>Our Services</button>
          </a>
        </div>
        <p class="hero-action-text">scroll for more</p>
      </div>
      
      <div class="hero-image">
        <img src="{{ url_for('static', filename='images/hero.jpeg') }}" alt="logo">
      </div>
    </section>

    <section class="about-section">
      <h3>About us</h3>
      <div class="about-info1-container">
        <img src="{{ url_for('static', filename='images/image1.jpeg') }}">
        <div class="about-div1-text">
          <h4>Redefining Fashion</h4>
          <p>
            At Shopistan, we aim to create a bridge between tradition and modernity. Each piece is carefully crafted to represent the richness of Pakistani heritage while keeping up with global trends.
          </p>
          <p>
            We believe every outfit tells a story. That’s why our collections are designed to help you express yourself, blending elegance and authenticity in every stitch.
          </p>
        </div>
      </div>

      <div class="about-info2-container">
        <img src="{{ url_for('static', filename='images/image1.jpeg') }}">
        <div class="about-div1-text">
          <h5>Redefining Fashion</h5>
          <p>
            At Shopistan, we aim to create a bridge between tradition and modernity. Each piece is carefully crafted to represent the richness of Pakistani heritage while keeping up with global trends.
          </p>
          <p>
            We believe every outfit tells a story. That’s why our collections are designed to help you express yourself, blending elegance and authenticity in every stitch.
          </p>
        </div>
      </div>
    </section>
  </main>
</body>
</html>