<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" >
  <link rel="stylesheet" href="{{ url_for('static', filename='css/services.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

  <title>Services</title>
</head>
<body>

  <header>
    <div class="left-section">
      <img src="{{ url_for('static', filename='images/Shopistanlogo.png') }}" alt="logo" >
    </div>

    <nav class="middle-section">
      <a href="{{ url_for('homepage') }}" > Home </a>
      <a href="{{ url_for('homepage') }}" > About </a></li>
      <a href="{{ url_for('services') }}" > Services </a>
      <a href="{{ url_for('gallery') }}" > Gallery </a>
      <a href="{{ url_for('contact_us') }}" > Contact </a>
    </nav>

    <nav class="right-section">
      <a href="{{ url_for('register') }}">
        <button class="register-button"> Register </button>
      </a>
      <a href="{{ url_for('login')}}">
        <button class="login-button" > Login </button>
      </a>
    </nav>
  </header>

  <section class="services">
    <h1>Services</h1>

    <div class="services-grid">
      <div class="services-info-grid">
        <h2>Custom Tailoring Services</h2>
        <p>Your style, your way. Our custom tailoring service ensures a perfect fit for every outfit, crafted just for you.</p>
        <p>
          Whether it’s a special occasion or everyday wear, our custom tailoring service ensures your outfit is tailored to perfection
        </p>
      </div>

      <div class="services-info-grid">
        <h2>Online Shopping Convenience</h2>
        <p>
          Shop from the comfort of your home. Explore our easy-to-navigate website for a seamless online shopping experience, with quick delivery to your doorstep.
        </p>
        <p>
          Shop anytime, anywhere with Shopistan’s user-friendly online platform. Browse through curated collections.
        </p>
      </div>

      <div class="services-info-grid">
        <h2>Seasonal Collections</h2>
        <p>
          Stay ahead of trends with our exclusive seasonal collections. From vibrant summer wear to cozy winter ensembles, we have something special for every season.
        </p>
        <p>
          Explore the colors of every season with Shopistan’s exclusive collections. From vibrant Eid dresses to cozy winter shawls.
        </p>
      </div>

      <div class="services-info-grid">
        <h2>Customer Support</h2>
        <p>
          We’re here for you. Our dedicated support team is ready to assist you with any questions or concerns, ensuring a smooth and satisfying shopping experience.
        </p>
        <p>
          Your satisfaction is our priority. Our dedicated customer support team is available to answer your queries anytime.
        </p>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-content">
      <hr />
      <p>&copy; 2024, All Rights Reserved by Shopistan</p>
    </div>
  </footer>
  
</body>
</html>